<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
    <title>SPACE SHOOTER</title>
</head>
<body>
    <div class="main">
        <div class="score">
            SCORE :
            <p>0</p>
        </div>
        <div class="startcraft"></div>
    </div>
    <div class="modal">
        <input type="text" id="playerName" placeholder="Enter Name" required>
        <div class="startgame">START</div>
    </div>
    <div class="game-over-container">
    <p>Game Over! Your score: 70</p>
    <button id="menuButton" class="menu-button">Back to Menu</button>
</div>
    <script src="../static/js/app.js"></script>
</body>
</html>