<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Space Shooter</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
    <button id="newGameButton" class="menu-button">New Game</button>
    <button id="leaderboardButton" class="menu-button">Leaderboard</button>

    <div id="namePrompt" style="display:none;">
        <input type="text" id="name" placeholder="Enter Your Name">
        <button onclick="startGame()">Start Game</button>
    </div>

    <script src="/static/js/menu.js"></script>
</body>
</html>